html, body {
    height: 100vh;
    width: 100vw;
    margin: 0 0 0 0;
}

#wrapper {
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

#header {
    height: 54px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: space-between;
}

#header > div > ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header > div > ul .floatleft {
    float: left;
}

#header > div > ul .floatright {
    float: right;
}

#header > div > ul > li {
    padding-left: 6px;
    padding-right: 6px;
    transform: translateY(4px);
}

#header > div > ul > li > a > img {
    max-height: 20px;
}

#header > p {
    color: white;
    position: absolute;
    top: 4px;
}

.content {
    margin-top: 54px;
    height: calc(100% - 54px - 54px);
    width: 100%;
    position: absolute;
    z-index: -1000;
}

#footer {
    height: 54px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#footer > div > div {
    height: 44px;
    width: 44px;
}

#footer > div > div > a {
    display: inline-block;
    height: 100%;
    width: 100%;
}

#footer > div > div > a > img {
    max-height: 100%;
}

iframe {
    border-width: 0px;
    height: 100%;
    width: 100%;
}




@keyframes slideright {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}
.slideright {
    -webkit-animation: 0.3s slideright linear 1 normal;
    animation: 0.3s slideright linear 1 normal;
}

@keyframes slideleft {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
.slideleft {
    -webkit-animation: 0.3s slideleft linear 1 normal;
    animation: 0.3s slideleft linear 1 normal;
}