html, body {
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
}

#wrapper {
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

#header {
    height: 162px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    background-image: url(./../img/header/header_bg.png);
    text-align: center;
}

#header > div {
    z-index: 1;
}

#header > div > ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header > div > ul .floatleft {
    float: left;
}

#header > div > ul .floatright {
    float: right;
}

#header > div > ul > li {
    padding-left: 6px;
    padding-right: 6px;
    transform: translateY(4px);
}

#header > div > ul > li > a > img {
    max-height: 25px;
}

.content {
    margin-top: 162px;
    height: calc(100% - 162px);
    width: 100%;
    position: absolute;
    z-index: 1;
}

iframe {
    border-width: 0px;
    height: 99%;
    width: 100%;
}

